In [8]:
c=d=8
x=y=9
if x==y:
    if y!=x:
        t=y
    elif c==d:
        t=d
    else:
        t=5
else:
    t=e
    
print (t)

8

In [3]:
if 7>=8 :
    print ("yes") ; print ("yes"); print ("yes")
    print ("yes")
print ("yes")

yes

In [9]:
h=[]
h

[]

In [73]:
h=["muzammil",36,5.4,81,True,[304,204],81]
h;h[5][1]

204

In [76]:
 h.index(81,4)

6

In [75]:
h.count(81)

2

In [11]:
h[3]

81

In [1]:
h=["muzammil","hasan","ali","waqar"]
h

['muzammil', 'hasan', 'ali', 'waqar']

In [2]:
h[2]="syed"
h

['muzammil', 'hasan', 'syed', 'waqar']

In [4]:
h.append("ali")
h

['muzammil', 'hasan', 'syed', 'waqar', 'ali']

In [5]:
h+=["syed","syed"]

In [6]:
h

['muzammil', 'hasan', 'syed', 'waqar', 'ali', 'syed', 'syed']

In [7]:
h.insert(4,"qaiser")
h

['muzammil', 'hasan', 'syed', 'waqar', 'qaiser', 'ali', 'syed', 'syed']

In [12]:
z=h[2:5]
x=z[:2]
p=z[1:]
print(z)
print(x)
print(p)

['syed', 'waqar', 'qaiser']
['syed', 'waqar']
['waqar', 'qaiser']

In [14]:
del h[3]
h

['muzammil', 'hasan', 'syed', 'ali', 'syed', 'syed']

In [16]:
h.remove("syed")
h

['muzammil', 'hasan', 'ali', 'syed', 'syed']

In [17]:
z=h.pop()
z

'syed'

In [18]:
z=h.pop(1)
z

'hasan'

In [19]:
h

['muzammil', 'ali', 'syed']

In [21]:
h[1].upper()

'ALI'

In [22]:
h

['muzammil', 'ali', 'syed']

In [26]:
for name in h:
    print(name)
    if name == "muzammil":
        print ("your are authorized")

muzammil
your are authorized
ali
syed

In [78]:
# tuples

tup = ("muz","smh", "arc", "dec", "wes", "ces", "scb", "sbp")
print (tup)

('muz', 'smh', 'arc', 'dec', 'wes', 'ces', 'scb', 'sbp')

In [81]:
print(tup[:3]) ;print(tup[4:7]) ; tup_Dup = tup[4:7]; print (tup_Dup);print(tup.count("dec"));print(tup.index("dec"))

('muz', 'smh', 'arc')
('wes', 'ces', 'scb')
('wes', 'ces', 'scb')
1
3

In [24]:
for elements in tup:
    print (elements)
    if elements == "ces": break

muz
smh
arc
dec
wes
ces

In [4]:
L1 = ["a","b"]
L2 = [1,2,3,4,5]

for dat1 in L1:
    for dat2 in L2:
        print (dat1+"_"+str(dat2))

a_1
a_2
a_3
a_4
a_5
b_1
b_2
b_3
b_4
b_5

In [4]:
print (L1)

['a', 'b']

In [83]:
L1= ["hasan","muzammil","farooq"]

In [84]:
print(L1)

['hasan', 'muzammil', 'farooq']

In [90]:

L2=L1 ;print (L2); L2.insert(41,"hasan1");print(L1);print(L2)

['hasan', 'muzammil', 'farooq', 'hasan1']
['hasan', 'muzammil', 'farooq', 'hasan1', 'hasan1']
['hasan', 'muzammil', 'farooq', 'hasan1', 'hasan1']

In [92]:
print (L1)

['hasan', 'muzammil', 'farooq', 'hasan1', 'hasan1']

In [95]:
L2=L1.copy() # making a copy

In [97]:
L2.append("syed") ;print (L1); print(L2) # No impact on the original list

['hasan', 'muzammil', 'farooq', 'hasan1', 'hasan1']
['hasan', 'muzammil', 'farooq', 'hasan1', 'hasan1', 'syed', 'syed']

In [31]:
L1.remove("hasan")
print(L1)

['muzammil', 'farooq']

In [41]:
input2 = input("Enter your name: ")
input2.lower()  # it does not need to be placed in a variable

Enter your name: hasan

'hasan'

In [50]:
L1[0].lower()

'hasan'

In [51]:
L1[0].title()

'Hasan'

In [52]:
L1[0].upper()

'HASAN'

In [8]:
L1[1].lower()

'muzammil'

In [9]:
L1[2].swapcase()

'FAROOQ'

In [10]:
L1[2].capitalize()

'Farooq'

In [11]:
L1[2].title()

'Farooq'

In [13]:
print('hasan '*3)

hasan hasan hasan

In [19]:
# print even numbers only
for i in range(0,100,2):
    print (i,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

In [15]:
cls

In [20]:
for i in range (1,10):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********

In [23]:
list1=range(0,10,2); print(list1)

range(0, 10, 2)

In [33]:
list1=list(range(0,10,2)); print(list1);print(list1[0]);print(list1[-1])

[0, 2, 4, 6, 8]
0
8

In [29]:
for i in list1:
    print(i,end=",")

0,2,4,6,8,

In [36]:
for i in range(len(list1)):
    print(list1[i])

0
2
4
6
8

In [38]:
for i in range(-2,len(list1),2):
    print(list1[i])

6
0
4
8