In [ ]:
# 1. No spaces between them
# 2. It shouldnot start by a number
# 3. In place of space we write underscore (_)

In [8]:
__a__ = 1

In [9]:
a = "2"
b = "2"
print(a + b)

22

In [42]:
a=2
a=a<<3
print(a)

16

In [63]:
print("hello {name1} and {name2}".format(name1="muzammil",name2="hasan"))

hello muzammil and hasan

In [7]:
# Pemdas Rule
# P = parathesis
# e = exponent
# m = multiplication
# d = divide
# a = addition
# s = subtration

a = (2+3)**2+4*5-1/1
print(a)

44.0

In [5]:
print( 4/3*(2-1) )

1.3333333333333333

In [11]:
print(4+3%5); print(7%5);print(16%15//16)

7
2
0

In [19]:
print(int(43.55+2/2));print('{0:.2}'.format(1/3))

44
0.33

In [20]:
if (9 < 0) and (0 < -9):
   print("hello")
elif (9 > 0) or False: 
   print("good") 
else: 
   print("bad")

good

In [21]:
not(10<20) and not(10>30)

False

In [24]:
not(10<20) or not(10>30)

True

In [3]:
if 7>=8 :
    print ("yes") ; print ("yes"); print ("yes")
    print ("yes")
print ("yes")

yes

In [9]:
h=[]
h

[]

In [10]:
h=["muzammil",36,5.4,81,True,[304,204],81]
h;h[5][1]

204

In [12]:
 h.index(81,4)

6

In [75]:
h.count(81)

2

In [11]:
h[3]

81

In [28]:
h=["muzammil","hasan","ali","waqar"]
h

['muzammil', 'hasan', 'ali', 'waqar']

In [30]:
g=h
g[0]="hasan"
h

['hasan', 'hasan', 'ali', 'waqar']

In [12]:
h[2]="syed"
h

['muzammil', 36, 'syed', 81, True, [304, 204], 81]

In [18]:
if 'Syed' in h:
    print(1)
else:
    print(2)

2

In [4]:
h.append("ali")
h

['muzammil', 'hasan', 'syed', 'waqar', 'ali']

In [40]:
names1 = ['Amir', 'Bala', 'Charlie']
names2 = [name.lower() for name in names1]

print(names2[2][0])

c

In [42]:
names1+=names2
print(names1)

['Amir', 'Bala', 'Charlie', 'amir', 'bala', 'charlie', 'amir', 'bala', 'charlie']

In [43]:
h+=["syed","syed"]

In [6]:
h

['muzammil', 'hasan', 'syed', 'waqar', 'ali', 'syed', 'syed']

In [7]:
h.insert(4,"qaiser")
h

['muzammil', 'hasan', 'syed', 'waqar', 'qaiser', 'ali', 'syed', 'syed']

In [12]:
z=h[2:5]
x=z[:2]
p=z[1:]
print(z)
print(x)
print(p)

['syed', 'waqar', 'qaiser']
['syed', 'waqar']
['waqar', 'qaiser']

In [14]:
del h[3]
h

['muzammil', 'hasan', 'syed', 'ali', 'syed', 'syed']

In [16]:
h.remove("syed")
h

['muzammil', 'hasan', 'ali', 'syed', 'syed']

In [17]:
z=h.pop()
z

'syed'

In [18]:
z=h.pop(1)
z

'hasan'

In [19]:
h

['muzammil', 'ali', 'syed']

In [21]:
h[1].upper()

'ALI'

In [22]:
h

['muzammil', 'ali', 'syed']

In [26]:
for name in h:
    print(name)
    if name == "muzammil":
        print ("your are authorized")

muzammil
your are authorized
ali
syed

In [4]:
# sets
s={1,2,3,1,2,3,4,5,6,7,8,}
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [3]:
print(s) # only give unique values no duplicates

{1, 2, 3, 4, 5, 6, 7, 8}

In [33]:
# tuple

# Tuples is just like a list with some diffrences
# List values is placed in square brackets but tuple values is placed in round brackets

tup = ("muz","smh", "arc", "dec", "wes", "ces", "scb", "sbp",)
print (tup)
tup.append("car")

('muz', 'smh', 'arc', 'dec', 'wes', 'ces', 'scb', 'sbp')

AttributeError: 'tuple' object has no attribute 'append'

In [81]:
print(tup[:3]) ;print(tup[4:7]) ; tup_Dup = tup[4:7]; print (tup_Dup);print(tup.count("dec"));print(tup.index("dec"))

('muz', 'smh', 'arc')
('wes', 'ces', 'scb')
('wes', 'ces', 'scb')
1
3

In [24]:
for elements in tup:
    print (elements)
    if elements == "ces": break

muz
smh
arc
dec
wes
ces

In [34]:
L1 = ["a","b"]
L2 = [1,2,3,4,5]

for dat1 in L1:
    for dat2 in L2:
        print (dat1+"_"+str(dat2),end=",")

a_1,a_2,a_3,a_4,a_5,b_1,b_2,b_3,b_4,b_5,

In [4]:
print (L1)

['a', 'b']

In [19]:
L1= ["hasan syed","muzammil hasan","farooq Mohammad"]

In [20]:
print(L1)

['hasan syed', 'muzammil hasan', 'farooq Mohammad']

In [90]:

L2=L1 ;print (L2); L2.insert(41,"hasan1");print(L1);print(L2)

['hasan', 'muzammil', 'farooq', 'hasan1']
['hasan', 'muzammil', 'farooq', 'hasan1', 'hasan1']
['hasan', 'muzammil', 'farooq', 'hasan1', 'hasan1']

In [92]:
print (L1)

['hasan', 'muzammil', 'farooq', 'hasan1', 'hasan1']

In [18]:
L2=L1.copy() # making a copy
print (L2)
L2.clear()
print (L2)

['hasan', 'muzammil', 'farooq']
[]

In [21]:
L2.append("syed") ;print (L1); print(L2) # No impact on the original list

['hasan syed', 'muzammil hasan', 'farooq Mohammad']
['syed']

In [31]:
L1.remove("hasan")
print(L1)

['muzammil', 'farooq']

In [41]:
input2 = input("Enter your name: ")
input2.lower()  # it does not need to be placed in a variable

Enter your name: hasan

'hasan'

In [22]:
L1[0].lower()

'hasan syed'

In [23]:
L1[0].title()

'Hasan Syed'

In [24]:
L1[0].upper()

'HASAN SYED'

In [25]:
L1[1].lower()

'muzammil hasan'

In [26]:
L1[2].swapcase()

'FAROOQ mOHAMMAD'

In [27]:
L1[2].capitalize()

'Farooq mohammad'

In [28]:
L1[2].title()

'Farooq Mohammad'

In [13]:
print('hasan '*3)

hasan hasan hasan

In [30]:
# print even numbers only
for i in range(0,100,2):
    print (i,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,

In [31]:
cls

In [20]:
for i in range (1,10):
    print(i*"*")

*
**
***
****
*****
******
*******
********
*********

In [26]:
list1=range(0,10,2); print(list1);list2 = list();print(list2)

range(0, 10, 2)
[]

In [44]:
list1=list(range(0,10,2)); print(list1);print(list1[0]);print(list1[-1]);print(max(list1));print(list1[:-2])

[0, 2, 4, 6, 8]
0
8
8
[0, 2, 4]

In [30]:
print(list("hello")); print(len(list("hello")));print(max(list("hello")))

['h', 'e', 'l', 'l', 'o']
5
o

In [32]:
import random

print(random.shuffle(["hi","gt","ty"]))

None

In [29]:
for i in list1:
    print(i,end=",")

0,2,4,6,8,

In [6]:
for i in range (0,10):
    if i==5:
        break
else:
    print("The loop run fine completely")
print("the loop broke")

the loop broke

In [4]:
for i in range (0,10):
    if i==11:
        break
else:
    print("The loop run fine completely")

The loop run fine completely

In [7]:
for i in range (10):
    if i!=5:
        break
    else:
        print (i)
else:
    print ("here")
print("here i am")

here i am

In [41]:
x= (x for x in range(3))
for i in x:
    print(i)
print(type(x))

0
1
2
<class 'generator'>

In [13]:
sentence = "my name is muzammil"
print(sentence)
for i in sentence.split():
    print(i)

my name is muzammil
my
name
is
muzammil

In [44]:
a=[0,1,2,3]
i=-2
for i  in a:
    print (i)
    i+=1

0
1
2
3

In [35]:
a={}
a[2] ="hi"
a[1] =[1,2,3,]
print(a[1][1])
print(a)

2
{2: 'hi', 1: [1, 2, 3]}

In [39]:
a={1:"A",2:"B"}
b={3:"C",4:"D"}
a.update(b)
print(a)
a.clear()
print(a)

{1: 'A', 2: 'B', 3: 'C', 4: 'D'}
{}

In [36]:
for i in range(len(list1)):    print(list1[i])

0
2
4
6
8

In [38]:
for i in range(-2,len(list1),2):
    print(list1[i])

6
0
4
8

In [3]:
st= "string"
print(st[0]) # string is also a list
st[4]

s

'n'

In [2]:
l1= [2, 33, 222, 14, 25] ; print(l1[-1]); print(l1[:-4]);print(l1[2:5]);print(l1[:]);print(l1*2)

25
[2]
[222, 14, 25]
[2, 33, 222, 14, 25]
[2, 33, 222, 14, 25, 2, 33, 222, 14, 25]

In [4]:
print([0.5 *x for x in range(0,4)])

[0.0, 0.5, 1.0, 1.5]

In [5]:
names1 = ['Amir', 'Bear', 'Charlton Hudston', 'Daman']
names2 = names1
names2[1]="Bear1"
print(names1)

['Amir', 'Bear1', 'Charlton Hudston', 'Daman']

In [9]:
print([11,222,25]<[11,2,25])

False

In [12]:
print(names1[2].title())
print(names1[2].capitalize())

Charlton Hudston
Charlton hudston

In [55]:
names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1[:]
names2[1]="Bear1"
print(names1)

['Amir', 'Bear', 'Charlton', 'Daman']

In [25]:
numbers = [1, 2, 3, 4]
numbers.append([5,6,7,8])
print(len(numbers))
print(numbers)

5
[1, 2, 3, 4, [5, 6, 7, 8]]

In [27]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
print(len(list1 + list2))
print(list1 + list2)

8
[1, 2, 3, 4, 5, 6, 7, 8]

In [36]:
a=[1,2,3]
b=a.append(4)

print(a)
print(b)

b=a
print(a)
print(b)


b=a.copy()
print(a)
print(b)

b is a

[1, 2, 3, 4]
None
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

False

In [37]:
a=[13,56,17] 
a.append([87]) 
a.extend([45,67]) 
print(a)

[13, 56, 17, [87], 45, 67]

In [40]:
a=list((45,)*4)
print((45)*4); print(45*4);print("hi"*4)
print(a)

180
180
hihihihi
[45, 45, 45, 45]

In [41]:
word1="Apple" 
word2="Apple" 
list1=[1,2,3] 
list2=[1,2,3] 
print(word1 is word2) 
print(list1 is list2)

True
False

In [75]:

names1 = ['Amir', 'Bear', 'Charlton', 'Daman']
names2 = names1
names3 = names1[:]

names2[0] = 'Alice'
names3[1] = 'Bob'


sum1 = 0
for ls in (names1, names2, names3) :
    if ls[0] == 'Alice':
       sum1 += 1
    if ls[1] == 'Bob':
       sum1 += 10

print(sum1)

12

In [43]:
w="hello" 
v=('a', 'e', 'i', 'o', 'u')

l1=[x for x in w if x in v]
print(l1)

['e', 'o']

In [66]:
names = ['Amir', 'Bear', 'Charlton', 'Daman']
print(names[-1][-1])

n

In [14]:
t=32.00
print([round((x-32)*5/9) for x in t])

TypeError: 'float' object is not iterable

In [19]:
[(x**2) for x in range(0, 13)]   # list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [20]:
[x for x in range(0, 20) if (x%2==0)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [46]:
print([i for i in range(1, 101) if int(i*0.5)==(i*0.5)])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [22]:
# [j for i in range(2,8) for j in range(i*2, 50, i)]
print("hi")

hi

In [52]:
print(2**4);print([(x**2) for x in range(1, 13)])

16
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [1]:
print ("muzammil")

muzammil

In [11]:
list1 = [1,2,3,4,5,6,7,8]
list2 = ["a","b","c"]
print (list1)
print (list2)
for l1 in list1:
    for l2 in list2:
        print (str(l1)+l2,end="")

[1, 2, 3, 4, 5, 6, 7, 8]
['a', 'b', 'c']
1a1b1c2a2b2c3a3b3c4a4b4c5a5b5c6a6b6c7a7b7c8a8b8c

In [51]:
# Dictionary is just like an advance form of list. In list every  value has an index Number but in Dictionary there is a
# Key-value pair

dict1 = {
         "name": "muzammil", 
         "rank" : 4,
         0: "zero",
         "ID":420.558,
         58:"its a code",
         68.2: "its another code"
         }
print (dict1)

{'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}

In [14]:
list1

[1, 2, 3, 4, 5, 6, 7, 8]

In [15]:
dict1

{'name': 'muzammil', 'rank': 2}

In [17]:
rank1 = dict1["rank"]
print(rank1)

2

In [21]:
print (dict1[68.2]);print (dict1[58])

its another code
its a code

In [27]:
dict2 = dict1
name = dict2["name"]; print (name)
dict2["name"]="hasan"
print (dict1); print(dict2)

muzammil
{'name': 'hasan', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}
{'name': 'hasan', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}

In [76]:
dict4={}
dict4["name"]="Syed"
dict4[0]="Waqar"
dict4[1]="Mujtaba"
dict4[2]="Muzammil"
dict4

{'name': 'Syed', 0: 'Waqar', 1: 'Mujtaba', 2: 'Muzammil'}

In [2]:
del dict4[0]
dict4

{'name': 'Syed', 1: 'Mujtaba', 2: 'Muzammil'}

In [3]:
dict4[1]="Mujtaba Hasan"
dict4

{'name': 'Syed', 1: 'Mujtaba Hasan', 2: 'Muzammil'}

In [5]:
    for i in dict4:
        print (i)

name
1
2

In [47]:
for i in dict4.values():
    print (i)

Syed
Waqar
Mujtaba
Muzammil

In [8]:
dict4.keys()

dict_keys(['name', 1, 2])

In [48]:
dict4.values()

dict_values(['Syed', 'Waqar', 'Mujtaba', 'Muzammil'])

In [9]:
for K, V in dict4.items():
    print (str(K)+"   :   "+str(V))

name   :   Syed
1   :   Mujtaba Hasan
2   :   Muzammil

In [13]:
for K, V in dict4.items():
    print (str(K),"   :   ",str(V))

name    :    Syed
1    :    Mujtaba Hasan
2    :    Muzammil

In [14]:
dict3=dict1

In [15]:
dict3

{'name': 'muzammil',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code'}

In [16]:
dict3 ={"ggg":42342242}

In [17]:
dict3

{'ggg': 42342242}

In [21]:
name = dict1["name"]
print(name)

muzammil

In [18]:
dict1

{'name': 'muzammil',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code'}

In [22]:
dict1[254]="Hasan"

In [23]:
dict1

{'name': 'muzammil',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code',
 254: 'Hasan'}

In [25]:
dict1[254]="waqar"

In [26]:
dict1

{'name': 'muzammil',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code',
 254: 'waqar'}

In [27]:
dict1[254]="waqar"

In [28]:
dict1

{'name': 'muzammil',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code',
 254: 'waqar'}

In [66]:
dict1["tttt"]="shhhhhh"
dict1

{'name': 'muzammil',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code',
 'tttt': 'shhhhhh'}

In [67]:
del dict1["tttt"]

In [68]:
dict1

{'name': 'muzammil',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code'}

In [53]:
l1=[]
for i in range (0,5):
    l1.append(dict1)

In [55]:
print(l1)

[{'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}]

In [45]:
l1[0]

{'name': 'muzammil',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code',
 254: 'waqar',
 'muzammil': 'hasan'}

In [49]:
l1[6][254]="dfasdfsfasfs"

In [47]:
l1[1]["name"]="hasan"

In [48]:
l1[1]

{'name': 'hasan',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code',
 254: 'waqar',
 'muzammil': 'hasan'}

In [53]:
l1[6]["muzammil1"]="yyyyyyyy"

In [54]:
l1[6]

{'name': 'hasan',
 'rank': 4,
 0: 'zero',
 'ID': 420.558,
 58: 'its a code',
 68.2: 'its another code',
 254: 'dfasdfsfasfs',
 'muzammil': 'hasan',
 'muzammil1': 'yyyyyyyy'}

In [55]:
l1[7]=l1[6]

In [69]:
print(l1)

[{'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}]

In [57]:
l1.append(dict1)

In [70]:
print(l1)

[{'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}]

In [59]:
l1.append(dict4)

In [73]:
print(l1)

[{'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}, {'name': 'muzammil', 'rank': 4, 0: 'zero', 'ID': 420.558, 58: 'its a code', 68.2: 'its another code'}]

In [80]:
dict5={}
for i in range(0,4):
    dict5[i]=dict4

In [83]:
del dict5[2]
print(dict5)

{1: {'name': 'Syed', 0: 'Waqar', 1: 'Mujtaba', 2: 'Muzammil'}, 3: {'name': 'Syed', 0: 'Waqar', 1: 'Mujtaba', 2: 'Muzammil'}}

In [75]:
l1=[1,"hasan","syed",4,5,2.5,True,"Muzammil"]
l1

[1, 'hasan', 'syed', 4, 5, 2.5, True, 'Muzammil']

In [85]:
dict6={}
for i in range(2,6,1):
    dict6[i-6]=l1
print(dict6)

{-4: [1, 'hasan', 'syed', 4, 5, 2.5, True, 'Muzammil'], -3: [1, 'hasan', 'syed', 4, 5, 2.5, True, 'Muzammil'], -2: [1, 'hasan', 'syed', 4, 5, 2.5, True, 'Muzammil'], -1: [1, 'hasan', 'syed', 4, 5, 2.5, True, 'Muzammil']}

In [86]:
print(len(dict6))

4

In [14]:
def addNames():
    firstName="Syed"
    lastName="Hasan"
    print(firstName+lastName)

In [15]:
addNames()

SyedHasan

In [27]:
def addNames(firstName,lastName):
    print(firstName+lastName)

In [28]:
addNames ("Muzammil","HAsan") # positional arguments

MuzammilHAsan

In [19]:
addNames(firstName="Muzammil",lastName="Hasan") # keyword arguments

MuzammilHasan

In [21]:
addNames(lastName="Hasan",firstName="Muzammil") # keyword arguments

MuzammilHasan

In [33]:
def addNames(firstName,lastName,middleName=" S"): # optional arguments
    print(firstName+lastName+middleName)

In [34]:
addNames("muzammil"," hasan"," Syed");addNames("muzammil"," hasan")

muzammil hasan Syed
muzammil hasan S

In [27]:
def calPercent(marksObtained,totalMarks=100):
    print(marksObtained/totalMarks)

In [28]:
calPercent(75)

0.75

In [41]:
def calPercent(marksObtained, totalMarks=100 ,*otherInfo):  # unknown number of arguments passed as a tuple
    print(otherInfo)
    print(marksObtained/totalMarks)

In [46]:
calPercent(85,100,"Muzammil is Passed")

0.85
('Muzammil is Passed',)

In [47]:
def calPercent(marksObtained, totalMarks=100 ,**otherInfo):  # unknown number of arguments passed as a dictionary
    print(marksObtained/totalMarks)
    print(otherInfo)

In [48]:
calPercent(85,100,Name="Muzammil",status="passed", school="la Canadiana")

0.85
{'Name': 'Muzammil', 'status': 'passed', 'school': 'la Canadiana'}

In [53]:
x=50
def funct():
#     global x
    x=2
    print(x)

funct()
print(x)

2
50

In [58]:
x=[1,2,3,4]
def l1(x):
    x=x+[6,7]
    print(x)
l1(x)
print(x)

[1, 2, 3, 4, 6, 7]
[1, 2, 3, 4]

In [60]:
def foo():
    total=1
    total+=1
    return total
foo()

2

In [62]:
x=[1,2,3,4,1]
print(x)
x={1,2,3,4,1}
print(x)

[1, 2, 3, 4, 1]
{1, 2, 3, 4}

In [10]:
def adding(a=4,b=4):
    print(a+b)
    
a=int(input("enter a"))
b=int(input("enter b"))


if a<0 and b<0:
    adding()
else:
    adding(a,b)

enter a2
enter b5
7

In [12]:
def adding(a=4,b=4):
    list1=[]
    for i in range(a,b+1):
        list1.append(i)
    return list1
    
a=int(input("enter a"))
b=int(input("enter b"))

print(adding())
print(adding(a,b))

enter a2
enter b8
[4]
[2, 3, 4, 5, 6, 7, 8]

In [17]:
def max(a=4,b=4):
    if a>b :
        print("maximum number is",a,"Minimum number is",b,sep="\t")
    
a=int(input("enter a"))
b=int(input("enter b"))


max(a,b)

enter a4
enter b2
maximum number is	4	Minimum number is	2

In [26]:
def sum(list):
    total=0
    for i in list:
        total+=int(i)
    return total

a = input ("Enter series of numbers to be add")

t=sum (a)
print(t) 

print(sum((1,2,3,4,5)))

Enter series of numbers to be add123
6
15

In [21]:
def describe_pet(animal_type, pet_name="Sam"):
    """Display information about a pet."""
    print("\nI have a " + animal_type + ".")
    print("My " + animal_type + "'s name is " + pet_name.title() + ".")
    
describe_pet ("dog","harry")   
describe_pet (pet_name="harry",animal_type="dog")   
describe_pet ("dog")  
describe_pet (pet_name="jami")

I have a dog.
My dog's name is Harry.

I have a dog.
My dog's name is Harry.

I have a dog.
My dog's name is Sam.

TypeError: describe_pet() missing 1 required positional argument: 'animal_type'

In [30]:
def build_profile(first, last, **user_info):
# ""Build a dictionary containing everything we know about a user."""
    profile = {}
    profile['first_name'] = first
    profile['last_name'] = last
    for key, value in user_info.items():
        profile[key] = value
    return profile

user_profile = build_profile('albert', 'einstein',location='princeton',field='physics')
print(user_profile)

{'first_name': 'albert', 'last_name': 'einstein', 'location': 'princeton', 'field': 'physics'}

In [34]:
keep_looping = True
w=0
while keep_looping ==  True:
    print("value",w)
    w+=1
    if w==10:
       keep_looping = False

else:
    print ("I am out")

value 0
value 1
value 2
value 3
value 4
value 5
value 6
value 7
value 8
value 9
I am out

In [2]:
keep_looping = True
w=0
while keep_looping ==  True:
    print("value",w)
    w+=1
    if w==10:
       # keep_looping = False
        break
else:
    print ("I am out")

value 0
value 1
value 2
value 3
value 4
value 5
value 6
value 7
value 8
value 9

In [5]:
class Car():
    color="green"
    
print(Car().color)

B= Car()
B.color= "blue"
print (B.color)

green
blue

In [5]:
class Car():
    def __init__(self, doors, engine):
        self.doors = doors
        self.engine = engine
        
    def describeCar(self):
        print(f"{self.doors}"+"     " +f"{self.engine}")
        
car1 = Car(4,2000)

car1.describeCar()

4     2000

In [7]:
class Red:
    def feeling():
        return "Lucky!"

r = Red()

print(r.feeling())

TypeError: feeling() takes 0 positional arguments but 1 was given

In [8]:
class Red:
    def feeling(self):
        return "Lucky!"

r = Red()

print(r.feeling())

Lucky!

In [24]:
class Horrible:
    def bad_code(weird): # you can any varible instead of self
        return "Don't write code like this"

h = Horrible()
print(h.bad_code())

Don't write code like this

In [15]:
"Hello"[0]

'H'

In [22]:
class patient():
    def __init__(self, name, age):
        self.name=name
        self.age=age
    def checkage(self):
       if self.age < 18 :
         print ("minor partient with age =",self.age)
       else:
         print ("not a minor partient with age =",self.age)
    def changeage(self):
        self.age=20

p1=patient("saad",12)
p1.changeage()

p1.checkage()

not a minor partient with age = 20

In [37]:
greeting= '''
hello this is my 
you are looking for 
where are you
look for me
'''
with open("D:\PIAIC\Python_Hello_World\myfile.txt", "w") as f:
    f.write("hello world this is my file")
    f.write(greeting)
    
with open("D:\PIAIC\Python_Hello_World\myfile.txt", "r") as f:
    filetext = f.read()
    print(filetext)

hello world this is my file
hello this is my
you are looking for
where are you
look for me

In [44]:
with open("D:\PIAIC\Python_Hello_World\myfile.txt", "a") as f:
    f.write("\n \n this is the new appended text")

with open("D:\PIAIC\Python_Hello_World\myfile.txt") as f:
    print(f.read())

hello world this is my file
hello this is my
you are looking for
where are you
look for me


 this is the new appended text


 this is the new appended text

 this is the new appended text

In [50]:
with open("D:\PIAIC\Python_Hello_World\myfile.txt") as f:
        print(f.readline())
        print(f.readlines())

hello world this is my file

['hello this is my \n', 'you are looking for \n', 'where are you\n', 'look for me\n', '\n', ' \n', ' this is the new appended text\n', ' \n', ' \n', ' this is the new appended text\n', ' \n', ' this is the new appended text']

In [5]:
# working with csv files

import csv

with open("D:\PIAIC\Python_Hello_World\myfile.csv","w",newline="") as f:
    data_handler= csv.writer(f,delimiter=",")
    data_handler.writerow(["Name","father Name","age"])
    data_handler.writerow(["Muzammil","Mamnoon","37"])

with open("D:\PIAIC\Python_Hello_World\myfile.csv","a",newline="") as f:
    data_handler= csv.writer(f,delimiter=",")
    data_handler.writerow(["Muddasssir","Mamnoon","33"])
    data_handler.writerow(["Hina","Mamnoon","35"])

data=[]
with open("D:\PIAIC\Python_Hello_World\myfile.csv","r",) as f:
    data_handler= csv.reader(f)
    
    for each_line in data_handler:
        data+=each_line
    
print (data)

['Name', 'father Name', 'age', 'Muzammil', 'Mamnoon', '37', 'Muddasssir', 'Mamnoon', '33', 'Hina', 'Mamnoon', '35']

In [1]:
# You can't save a Python list in a text file. You can only save a text string.

# JavaScript Object Notation = json


import json

d1={
  
    0:{"Name":"Hasan","father Name":"Mamnoon","age":37},
    1:{"Name1":"Hasan1","father Name1":"Mamnoon1","age1":37},
    3:[1,2,3,4,5]
}

with open("D:\PIAIC\Python_Hello_World\myfile.json","w",) as f:
    json.dump(d1,f)
# with open("D:\PIAIC\Python_Hello_World\myfile.json","a",) as f:
#      json.dump(dir1,f)
    
with open("D:\PIAIC\Python_Hello_World\myfile.json","r") as f:
    data=json.load(f)
    
print(data)

{'0': {'Name': 'Hasan', 'father Name': 'Mamnoon', 'age': 37}, '1': {'Name1': 'Hasan1', 'father Name1': 'Mamnoon1', 'age1': 37}, '3': [1, 2, 3, 4, 5]}

In [ ]:
try:
    print(5/0)
except ZeroDivisionError:
    print ("print error")

In [8]:
flag =1

while flag:
    n1 , n2= input ("enter numbers to be divided : D/N ")
    print(n1)
    print(n2)
    if int(n2)==0 :
        flag=0
    try:
        print("division result :", int(n1)/int(n2))
    except ZeroDivisionError:
        print ("1. some error, you attempted to divide by zero")
    except TypeError:
        print ("1. some error, tye Error")
    else:
        print("2. ran smoothly")
    finally:
        print("3. this is fianlly block")

enter numbers to be divided : D/N 34
3
4
division result : 0.75
2. ran smoothly
3. this is fianlly block
enter numbers to be divided : D/N 50
5
0
1. some error, you attempted to divide by zero
3. this is fianlly block

In [22]:
    n1 , n2= input ("enter numbers to be divided : D/N ")
    
    try:
        print("division result :", n1/int(n2))
    
    except ZeroDivisionError:
        print ("1. some error, you attempted to divide by zero")
#     except TypeError:
#         print ("1. some error, tye Error")
    except FileNotFoundError:
        print ("1. some error,File not found ")
    except:
        print ("1. some error,this catches everything ")
    else:
        print("2. ran smoothly")
    finally:
        print("3. this is fianlly block")

enter numbers to be divided : D/N 25
1. some error,this catches everything
3. this is fianlly block